<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DOAN.Properties.Settings.QLPM_KaraokeConnectionString"
            connectionString="Data Source=.;Initial Catalog=QLPM_Karaoke;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>